## Day Objectives:

### Data Structures
- Dictionary
- Set

### Dictionary

- It can store various types of data
- dictionary : {key:value}
- Dictionaries are unordered and mutable
- keys will acts as index to the values in dictionary
- keys must be unique
- we represent the dictionary in {}
- one key and value pair is called as an Item
- Ex : dict = {key:value, key:value}

In [1]:
contacts = {"name1":"9383938382","name2":"8748337323","name3":"9847453647"}
print(contacts)

{'name1': '9383938382', 'name2': '8748337323', 'name3': '9847453647'}

In [20]:
contacts["name1"]

'9383938382'

In [21]:
contacts["name2"]

'8748337323'

In [4]:
# prompt for number of items in a dictionary from the user - n
# create an empty dictionary - d = {}

n = int(input("Enter the number of items you want to insert in dictionary : "))
d = {}

for i in range(n):
    key = input("Enter a Key")
    value = input("Enter a value")
    
    d[key] = value

print(d)

Enter the number of items you want to insert in dictionary : 2
Enter a Keykey1
Enter a valuevalue1
Enter a Keykey2
Enter a valuevalue2
{'key1': 'value1', 'key2': 'value2'}

In [6]:
d = {"Name":"Gireesha","Age":22,"Branch":"EEE"}

d["Name"]

'Gireesha'

In [7]:
d["Age"]

22

In [8]:
d["Branch"]

'EEE'

In [9]:
d["Name"] = "Sireesha"

In [10]:
d

{'Name': 'Sireesha', 'Age': 22, 'Branch': 'EEE'}

In [11]:
d["Age"] = 30

In [12]:
d

{'Name': 'Sireesha', 'Age': 30, 'Branch': 'EEE'}

In [13]:
# To get all the keys in a dictionary

d.keys()

dict_keys(['Name', 'Age', 'Branch'])

In [14]:
# To get all the values in a dictionary

d.values()

dict_values(['Sireesha', 30, 'EEE'])

In [15]:
# To get all the items in a Dictionary

d.items()

dict_items([('Name', 'Sireesha'), ('Age', 30), ('Branch', 'EEE')])

In [18]:
for i in d.items():
    print(i)
    print("key:",i[0],"value:",i[1])

('Name', 'Sireesha')
key: Name value: Sireesha
('Age', 30)
key: Age value: 30
('Branch', 'EEE')
key: Branch value: EEE

In [19]:
d["Age"] = 40
print(d)

{'Name': 'Sireesha', 'Age': 40, 'Branch': 'EEE'}

In [22]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [25]:
d

{'Name': 'Sireesha', 'Age': 40, 'Branch': 'EEE'}

In [23]:
d.get("Name")

'Sireesha'

In [29]:
d.get("name")

In [30]:
d["name"]

KeyError: 'name'

In [31]:
d

{'Name': 'Sireesha', 'Age': 40, 'Branch': 'EEE'}

In [32]:
d["Name"] = "JayaPrakash"
d

{'Name': 'JayaPrakash', 'Age': 40, 'Branch': 'EEE'}

In [33]:
d.update({'Age':20})
d

{'Name': 'JayaPrakash', 'Age': 20, 'Branch': 'EEE'}

In [34]:
# fromkeys()

k = ("key1","key2","key3")
v = 0
dict.fromkeys(k,v)

{'key1': 0, 'key2': 0, 'key3': 0}

In [35]:
# fromkeys()

k = ("key1","key2","key3")
v = (1,2,3)
dict.fromkeys(k,v)

{'key1': (1, 2, 3), 'key2': (1, 2, 3), 'key3': (1, 2, 3)}

In [36]:
d

{'Name': 'JayaPrakash', 'Age': 20, 'Branch': 'EEE'}

In [37]:
d.clear()

In [38]:
d

{}

In [39]:
new = contacts.copy()
print(new)

{'name1': '9383938382', 'name2': '8748337323', 'name3': '9847453647'}

In [40]:
c = contacts
print(c)

{'name1': '9383938382', 'name2': '8748337323', 'name3': '9847453647'}

In [41]:
contacts["name1"] = "0000000000"
print(contacts)

{'name1': '0000000000', 'name2': '8748337323', 'name3': '9847453647'}

In [42]:
print(c)

{'name1': '0000000000', 'name2': '8748337323', 'name3': '9847453647'}

In [43]:
print(new)

{'name1': '9383938382', 'name2': '8748337323', 'name3': '9847453647'}

In [44]:
new

{'name1': '9383938382', 'name2': '8748337323', 'name3': '9847453647'}

In [46]:
new.pop("name3")

'9847453647'

In [47]:
new

{'name1': '9383938382', 'name2': '8748337323'}

In [48]:
new.popitem()

('name2', '8748337323')

In [49]:
new

{'name1': '9383938382'}

In [50]:
new["new_key"] = "473483874"
new

{'name1': '9383938382', 'new_key': '473483874'}

In [51]:
new.popitem()

('new_key', '473483874')

In [52]:
new

{'name1': '9383938382'}

In [53]:
new.setdefault("name2","584849393")

'584849393'

In [54]:
new

{'name1': '9383938382', 'name2': '584849393'}

In [55]:
new.setdefault("name3")

In [56]:
new

{'name1': '9383938382', 'name2': '584849393', 'name3': None}

In [57]:
new.setdefault("name1","3258284287")

'9383938382'

In [58]:
new

{'name1': '9383938382', 'name2': '584849393', 'name3': None}

### Nested Dictionary

In [61]:
## list in a dictionary
students = {"student1":["swathi",20,"eee"],"student2":["Pavan",21,"ece"]}
students

{'student1': ['swathi', 20, 'eee'], 'student2': ['Pavan', 21, 'ece']}

In [65]:
students["student2"][1]

21

In [66]:
students = {'student1':{"name":"saleem","age":23,"branch":"eee"},"student2":{"name":"Navya","Age":19,"branch":"cse"}}
students

{'student1': {'name': 'saleem', 'age': 23, 'branch': 'eee'},
 'student2': {'name': 'Navya', 'Age': 19, 'branch': 'cse'}}

In [69]:
students["student1"]["name"]

'saleem'

In [70]:
students["student2"]["branch"]

'cse'

In [71]:
dict1 = {"name1":"Joe"}
dict2 = {"name2":"John"}
dict3={}
for i in (dict1,dict2):
    dict3.update(i)
    
print(dict3)

{'name1': 'Joe', 'name2': 'John'}

In [74]:


contacts.clear()
contacts

{}

In [75]:
contacts = {"Manasa":9483457689,"Rambabu":8767564310,"Kamarjaha":8574638480}
contacts

{'Manasa': 9483457689, 'Rambabu': 8767564310, 'Kamarjaha': 8574638480}

In [78]:
## Write a program to check whether a particular key is present in the dictionary or not
name = input()

if name in contacts:
    print(name,"is present in the contacts","Phone Number:",contacts[name])
else:
    print(name,"is not present in your contacts")

Navya
Navya is not present in your contacts

### Frequency Count Program
- we have a list. return a dictionary with keys as list elements and values as the count of that element
- frequency : how many times an element repeated in the list
- Input : list = [1,1,1,3,4,6,7,7,7,9,5,0,3]
- output: {1:3,3:2,4:1,7:3,9:1,5:1,0:1}

In [86]:
l = []
d = {}
# read the list elements from the user(length of the list and elements)
n = int(input())
for i in range(n):
    inp = int(input())
    l.append(inp)
print(l)
for i in l:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1
print(d)

10
1
1
1
3
8
9
0
3
4
2
[1, 1, 1, 3, 8, 9, 0, 3, 4, 2]
{1: 3, 3: 2, 8: 1, 9: 1, 0: 1, 4: 1, 2: 1}

## Sets
- It is a data structure in python
- It is Unordered ( we cannot access the set elements by using index..there is no index in sets)
- Duplicate elements elements are not allowed
- It is Iterable
- It is Immutable
- Ex : s = set() -> To create an empty set
- Represented with {}

In [88]:
s = set()
print(type(s))

<class 'set'>

In [89]:
s = {1,2,1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [91]:
for i in s:
    print(i)

1
2
3
4
5

In [92]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [96]:
s.add(12)
id(s)

2765956577992

In [97]:
s.add(13)
id(s)

2765956577992

In [100]:
s.update([12,14,15,0,1,2,9,0,7,6,8,95,45])
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 45, 95}

In [102]:
s.discard(0)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 45, 95}

In [103]:
s.discard(95)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 45}

In [104]:
s.discard(10)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 45}

In [105]:
s.remove(1)
s

{2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 45}

In [106]:
s.remove(10)

KeyError: 10

In [107]:
s.pop()

2

In [108]:
s

{3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 45}

In [109]:
s.pop()

3

In [110]:
s

{4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 45}

In [111]:
s.pop()

4

In [112]:
s

{5, 6, 7, 8, 9, 12, 13, 14, 15, 45}

In [114]:
s1 = {1,2,3,4,5,6}
s2 = {1,2,3}
s3 = {9,8,2}
s3.issubset(s1)

False

In [117]:
s1.issuperset(s2)

True

In [118]:
s1-s2

{4, 5, 6}

In [119]:
s1.difference(s2)

{4, 5, 6}

In [120]:
s2.difference(s1)

set()

In [121]:
s3.difference(s1) # s3-s1

{8, 9}

In [122]:
s1.difference(s3) # s1-s3

{1, 3, 4, 5, 6}

- Note : s3-s1 is not equal to s1-s3

In [123]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [124]:
s1.union(s3)

{1, 2, 3, 4, 5, 6, 8, 9}

In [125]:
s1.intersection(s2)

{1, 2, 3}

In [126]:
s1.intersection(s3)

{2}