# Topics
- String methods 
- Conditional statments
- loops
- Data Structure
    - list 
    - tuple

In [1]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [2]:
s = 'Python Programming workShop APSSDc'

In [3]:
s.isalpha()

False

In [4]:
help(s.isalpha)

Help on built-in function isalpha:

isalpha() method of builtins.str instance
    Return True if the string is an alphabetic string, False otherwise.

    A string is alphabetic if all characters in the string are alphabetic and there
    is at least one character in the string.

In [5]:
"hdsgh7632".isalpha()

False

In [6]:
'sasd'.isalpha()

True

In [7]:
"hdsgh7632".isalnum()

True

In [8]:
"hdsgh7632".endswith('a')

False

In [9]:
"hdsgh7632".endswith('2')

True

 ### Conditional statements 
 
 - simple if
 - elseif 
 - nested if

syntax:

if condition:
    
    line1
    
    line2

outside if condition

In [12]:
if True:
    print("condition Executed")

condition Executed

In [13]:
if False:
    print("condition Executed")

In [14]:
if True:
print("condition Executed")

IndentationError: expected an indented block (<ipython-input-14-1b8af137c276>, line 2)

In [15]:
if True:

SyntaxError: unexpected EOF while parsing (<ipython-input-15-2c8a33b52dfb>, line 1)

In [16]:
if False:
    pass
elif True:
    print('Else if')
else:
    pass

Else if

In [17]:
s

'Python Programming workShop APSSDc'

In [19]:
s1 = input()
if " " in s1:
    print('space is present in our input')
else:
    print("space is not present")

jhfdgjgbdhf
space is not present

In [21]:
"@" in 'hdfjhmnbfd'

False

In [24]:
s1 = input()
if s1.isspace():
    print('True')
else:
    print('False')

fjr dfg
False

In [26]:
s.isspace()

False

In [27]:
' '.isspace()

True

In [28]:
help(''.isspace)

Help on built-in function isspace:

isspace() method of builtins.str instance
    Return True if the string is a whitespace string, False otherwise.

    A string is whitespace if all characters in the string are whitespace and there
    is at least one character in the string.

In [29]:
'    '.isspace()

True

In [36]:
# program for find out odd numbers 
n = input()
if n % 2 == 1:
    print(n,'is an odd number')
else: print(n, 'is even number')

67

TypeError: not all arguments converted during string formatting

In [34]:
10%2

0

In [35]:
9%2

1

In [40]:
r = input()
type(r)

32.4

str

In [44]:
float('8732')

8732.0

In [45]:
# program for find out odd numbers 
n = int(input())
if n % 2 == 1:
    print(n,'is an odd number')
else: print(n, 'is even number')

37647
37647 is an odd number

In [47]:
# to identify long string
string1 = input('Enter 1st name : ')
string2 = input('Enter 2nd name : ')
length_s1 = len(string1)
length_s2 = len(string2)

if length_s1 > length_s2:
    print(string1, "is long string")
elif length_s1 < length_s2:
    print(string2, "is long string")
else:
    print('both are same')

Enter 1st name : bcdef
Enter 2nd name : abcdef
abcdef is long string

### loops
- for loop
- while loop

Syntax For loop:

for i in iterable:

    pass


String is a iterable, list, dictionary, sets, tuple.

range() function

In [53]:
list(range(5,101,5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [54]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [57]:
for i in range(0,100,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

while condtion:

    pass

In [58]:
i = 0
while i<100:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [59]:
for char in 'apssdc':
    print(char)
    print('---')

a
---
p
---
s
---
s
---
d
---
c
---

In [66]:
# Identify vowels in given string and count them
# AEIOU or aeiou
S = input()
for ele in 'AEIOUaeiou':
    if ele in S:
        print('Count of {}\'s'.format(ele), S.count(ele))

aesfhiou
Count of a's 1
Count of e's 1
Count of i's 1
Count of o's 1
Count of u's 1

In [62]:
'Apssdc'.count('a')

0

In [64]:
print('{} ashdjhas'.format(1))

1 ashdjhas

## Data Structures in Python

in built Data Structues 

list

tuple

dictionary 

sets

### list 
[] 
- iterable
- mutable
- hetrogeneous data

In [67]:
list() # to define a list 
# we can define list by usng []

[]

In [69]:
l = [1,2,345,45]

In [70]:
# iterabel means 
for ele in l:
    print(ele)

1
2
345
45

In [75]:
# hetrogeneous data
li = [1,2,3,2.12,21.32,'A',True,[1,2,3],tuple((12,213,21))]

In [76]:
li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], (12, 213, 21)]

In [77]:
list('apssdc')

['a', 'p', 's', 's', 'd', 'c']

### list indexing

positive indexing

['a'| 'p'| 's'| 's'| 'd'| 'c']
--|----|-----|-----|---|-----
 0  | 1  | 2  | 3  | 4 | 5 
 
 negative indexing
 
 ['a'| 'p'| 's'| 's'| 'd'| 'c']
--|----|-----|-----|---|-----
 -6  | -5  | -4  | -3  | -2 | -1

In [79]:
# accesing the element using index value

li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], (12, 213, 21)]

In [82]:
li[4]

21.32

In [83]:
li[-2]

[1, 2, 3]

In [84]:
li[-1]

(12, 213, 21)

In [85]:
type(li)

list

In [86]:
type(li[-1])

tuple

In [89]:
for i in li:
    print(type(i),'     ', i )

<class 'int'>       1
<class 'int'>       2
<class 'int'>       3
<class 'float'>       2.12
<class 'float'>       21.32
<class 'str'>       A
<class 'bool'>       True
<class 'list'>       [1, 2, 3]
<class 'tuple'>       (12, 213, 21)

In [90]:
# Mutable 
li[-1]

(12, 213, 21)

In [91]:
li[-1] = 'elemet changed'

In [92]:
li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], 'elemet changed']

In [93]:
c = 'aps@sdc'

In [95]:
c[3]='_'

TypeError: 'str' object does not support item assignment

In [96]:
# list slising

In [97]:
li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], 'elemet changed']

In [98]:
li[2::]

[3, 2.12, 21.32, 'A', True, [1, 2, 3], 'elemet changed']

In [99]:
li[::2]

[1, 3, 21.32, True, 'elemet changed']

In [101]:
li[1::2]

[2, 2.12, 'A', [1, 2, 3]]

In [102]:
li[::-1]

['elemet changed', [1, 2, 3], True, 'A', 21.32, 2.12, 3, 2, 1]

### Built in functions

In [103]:
len(li)

9

In [104]:
max(li)

TypeError: '>' not supported between instances of 'str' and 'float'

In [105]:
l

[1, 2, 345, 45]

In [106]:
max(l)

345

In [107]:
len(l)

4

In [108]:
min(l)

1

In [110]:
sorted(l, reverse=True)

[345, 45, 2, 1]

In [111]:
li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], 'elemet changed']

In [112]:
sorted(li)

TypeError: '<' not supported between instances of 'str' and 'float'

In [114]:
a = list('python')

In [115]:
a

['p', 'y', 't', 'h', 'o', 'n']

In [116]:
sorted(a)

['h', 'n', 'o', 'p', 't', 'y']

In [117]:
sorted(a,reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [118]:
l

[1, 2, 345, 45]

In [119]:
sum(l)

393

In [122]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [123]:
li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], 'elemet changed']

In [124]:
li.append(0)

In [125]:
li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], 'elemet changed', 0]

In [126]:
li.append('apssdc')

In [127]:
li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], 'elemet changed', 0, 'apssdc']

In [128]:
a

['p', 'y', 't', 'h', 'o', 'n']

In [129]:
a.clear()

In [130]:
a

[]

In [131]:
l

[1, 2, 345, 45]

In [132]:
x = l

In [133]:
x

[1, 2, 345, 45]

In [134]:
l.append('new element')

In [135]:
l

[1, 2, 345, 45, 'new element']

In [136]:
x

[1, 2, 345, 45, 'new element']

In [137]:
id(l)

118161960

In [138]:
id(x)

118161960

In [139]:
l

[1, 2, 345, 45, 'new element']

In [140]:
y = l.copy()

In [141]:
y

[1, 2, 345, 45, 'new element']

In [142]:
l.append('2nd data')

In [143]:
l

[1, 2, 345, 45, 'new element', '2nd data']

In [144]:
x

[1, 2, 345, 45, 'new element', '2nd data']

In [145]:
y

[1, 2, 345, 45, 'new element']

In [146]:
print(id(l),l)
print(id(x),x)
print(id(y),y)

118161960 [1, 2, 345, 45, 'new element', '2nd data']
118161960 [1, 2, 345, 45, 'new element', '2nd data']
113495752 [1, 2, 345, 45, 'new element']

In [148]:
l.count(2)

1

In [150]:
li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], 'elemet changed', 0, 'apssdc']

In [151]:
li.count(3)

1

In [152]:
li.extend(10)

TypeError: 'int' object is not iterable

In [153]:
help(li.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [154]:
l

[1, 2, 345, 45, 'new element', '2nd data']

In [155]:
l.extend([11,22,33,44])

In [156]:
l

[1, 2, 345, 45, 'new element', '2nd data', 11, 22, 33, 44]

In [157]:
[1,2,3,4]+[5,6,7]

[1, 2, 3, 4, 5, 6, 7]

In [159]:
li

[1, 2, 3, 2.12, 21.32, 'A', True, [1, 2, 3], 'elemet changed', 0, 'apssdc']

In [160]:
li.index('A')

5

In [161]:
li.insert(5,'a')

In [162]:
li

[1,
 2,
 3,
 2.12,
 21.32,
 'a',
 'A',
 True,
 [1, 2, 3],
 'elemet changed',
 0,
 'apssdc']

In [164]:
li.pop()

'apssdc'

In [165]:
li

[1, 2, 3, 2.12, 21.32, 'a', 'A', True, [1, 2, 3], 'elemet changed', 0]

In [166]:
li.pop()

0

In [167]:
l

[1, 2, 345, 45, 'new element', '2nd data', 11, 22, 33, 44]

In [168]:
l.reverse()

In [169]:
l

[44, 33, 22, 11, '2nd data', 'new element', 45, 345, 2, 1]

In [170]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [171]:
t = [1,2,323,234,12,1,212,1655,54,6]

In [172]:
t.sort()

In [173]:
t

[1, 1, 2, 6, 12, 54, 212, 234, 323, 1655]

In [174]:
t.sort(reverse=True)

In [175]:
t

[1655, 323, 234, 212, 54, 12, 6, 2, 1, 1]

In [176]:
sorted(t)

[1, 1, 2, 6, 12, 54, 212, 234, 323, 1655]

In [177]:
t

[1655, 323, 234, 212, 54, 12, 6, 2, 1, 1]

In [178]:
l

[44, 33, 22, 11, '2nd data', 'new element', 45, 345, 2, 1]

In [180]:
l.remove(44)

In [181]:
l

[33, 22, 11, '2nd data', 'new element', 45, 345, 2, 1]

### Tuple
- immutable
- iterator 
- it also strore or suports hetrogeneous data
- it als have index values

to define tuple we need to "()"

         or 
    tuple() function

In [183]:
# define a tuple
t1 = tuple('tuple')
t1

('t', 'u', 'p', 'l', 'e')

In [184]:

t2 = (1,2,3,'sdc',True,781.23,[1,23])

In [185]:
t2

(1, 2, 3, 'sdc', True, 781.23, [1, 23])

In [186]:
# what is immutability

In [187]:
t1

('t', 'u', 'p', 'l', 'e')

In [189]:
t1[1] = 9

TypeError: 'tuple' object does not support item assignment

### Tuple indexing
 
    it suports both positive and negative indexing

In [190]:
t1

('t', 'u', 'p', 'l', 'e')

In [191]:
t1[-1]

'e'

In [193]:
t1[3]

'l'

built in function on tuple

In [194]:
len(t1)

5

In [195]:
max(t1)

'u'

In [196]:
t2

(1, 2, 3, 'sdc', True, 781.23, [1, 23])

In [197]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [199]:
t = (1,2,12,1,2,4,5,7,7,8)

In [200]:
t.index(1)

0

In [201]:
t.index(9)

ValueError: tuple.index(x): x not in tuple

In [202]:
li

[1, 2, 3, 2.12, 21.32, 'a', 'A', True, [1, 2, 3], 'elemet changed']

In [204]:
li.index(9)

ValueError: 9 is not in list

In [207]:
s.index('p')

26

In [208]:
s

'Python Programming workShop APSSDc'

In [209]:
s.index('x')

ValueError: substring not found

In [210]:
s.find('x')

-1

In [211]:
s.find('p')

26

# tasks

1. take a string and conver that string into below format

ex: input: 'python'
    
    output: '****python****'

by using string methods only

2. Take a input like this  "python progarmming online workshop by apssdc" , seperate the sentanceand calculate the length of each word.

output: python = 6

        programming = 11

3. take a large number as input, calculate how many digits are there and find out each digit square values
    ex: 234
    output: total digit count = 3
              square digits 4616